* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.titulo {
 font-size: 15px;
 font-style: italic;
  background-color: yellow;
  padding: 20px 60px;
}


.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.galeria img {
  width: 250px;
  height: 250px;
}

.sobre {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
 
.TItulodescricao{
  font-size: 30px;
  font-style: italic;
}
.dicas{
  font-size: 20px;
  font-style: italic;
}
.paginaSobre{
  font-size: 40px;
 font-style: italic;
}